<button *ngIf="!isSidebarOpen" class=" toggle-btn sidebar-h" (click)="toggleSidebar()">
    <fa-icon [icon]="hamburger"></fa-icon>
</button>
<div class="sidebar-container" [class.sidebar-open]="isSidebarOpen">
    <div class="sidebar">
        <div class="sidebar-header">
            <h1 class="company-name">Glucemy</h1>
            <button class="toggle-btn" (click)="toggleSidebar()">
                <fa-icon [icon]="isSidebarOpen ? close : hamburger"></fa-icon>
            </button>
        </div>
        <nav class="sidebar-nav">
            <ul>
                <li *ngFor="let item of config"
                    [class.active]="view.toLocaleLowerCase() === item.name.toLocaleLowerCase()"
                    (click)="changeView(item)">
                    <fa-icon [icon]="item?.icon"></fa-icon>
                    <span>{{ item.name }}</span>
                </li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <button class="logout-btn" (click)="changeView(logOutItem)">
                <fa-icon [icon]="logOutItem?.icon"></fa-icon>
                <span>Logout</span>
            </button>
        </div>
    </div>
</div>

<div class="main-content" [class.sidebar-open]="isSidebarOpen">
        <router-outlet></router-outlet>
</div>
