@import "src/app/modules/auth/login/login.component";

.content {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0 2rem 2rem 2rem;
  border-radius: 10px;
  position: relative;
  width: 56vw
}

.customButton {
  width: 16%;
  color: #6675df;
  background: transparent;
  border-bottom: 1px solid #6675df;
  font-size: 1rem;
  height: 37px;
  letter-spacing: 0;
  border-radius: 0;
}

.login100-form-btn:hover {
  background: transparent;
  color: #6675df;
  font-size: 1.1rem;
}

.customTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.wrap-input100 {
  border: 1px solid #9b9595;
}

.smallInput {
  width: 45%;
}

@media (max-width: 768px) {
  .content {
    width: 90vw;
  }
}