<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h1 class="title">Statistics</h1>
            <button class="btn btn-primary" (click)="download()">Download</button>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-6 mb-3 mb-md-0">
                    <label for="start-date" class="form-label">Start Date</label>
                    <input
                            id="start-date"
                            type="date"
                            class="form-control"
                            [formControl]="start_date"
                    >
                </div>
                <div class="col-md-6">
                    <label for="end-date" class="form-label">End Date</label>
                    <input
                            id="end-date"
                            type="date"
                            class="form-control"
                            [formControl]="end_date"
                    >
                </div>
            </div>
            <div class="chart-container" style="position: relative; height:60vh; width:100%">
                <canvas #chart></canvas>
            </div>
        </div>
    </div>
</div>