.card {
  border:none
}

.card-header {
  background-color: transparent;
  border: none;
}

.btn-primary {
  background-color: #6675df;
  border-color: #6675df;

  &:hover {
    background-color: darken(#6675df, 10%);
    border-color: darken(#6675df, 10%);
  }
}

.form-control:focus {
  border-color: #6675df;
  box-shadow: 0 0 0 0.2rem rgba(102, 117, 223, 0.25);
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: #1d1d1f;
  margin-bottom: 20px;
}