<main class="flex-grow-1 container py-4">
    <h1 class="title">Home</h1>
    <div class="row g-4">
        <div class="col-md-6">
            <app-current-glucose [glucoseData]="glucoseData"></app-current-glucose>
        </div>
        <div class="col-md-6">
            <app-quick-entry (quickGlucose)="addGlucose($event)"></app-quick-entry>
        </div>
        <div class="col-12">
            <app-recent-history [data]="statisticsData"></app-recent-history>
        </div>
        <div class="col-md-6">
            <app-food-data></app-food-data>
        </div>
    </div>
</main>