<div *ngIf="loading" class="loader">
    <app-loader></app-loader>
</div>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form" [formGroup]="form" (ngSubmit)="login()">
                <span class="login100-form-title p-b-43">Glucemy</span>

                <ng-container *ngIf="!register; else formRegister">
                    <div class="wrap-input100 validate-input" data-validate="Email or Username is required"
                         [ngClass]="formSubmit('username') ? '' : 'alert-validate'">
                        <input class="input100" type="text" [formControlName]="'username'"
                               [ngClass]="form.get('username')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email or username</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required"
                         [ngClass]="formSubmit('password') ? '' : 'alert-validate'">
                        <input class="input100" type="password" [formControlName]="'password'"
                               [ngClass]="form.get('password')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>
                </ng-container>

                <ng-template #formRegister>
                    <button type="button" class="close" aria-label="Close" (click)="register = false">
                        <span aria-hidden="true">Return to login</span>
                    </button>
                    <div class="wrap-input100 validate-input" data-validate="Email is required"
                         [ngClass]="formSubmit('email') ? '' : 'alert-validate'">
                        <input class="input100" type="text" [formControlName]="'email'"
                               [ngClass]="form.get('email')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Username is required"
                         [ngClass]="formSubmit('usernameRegister') ? '' : 'alert-validate'">
                        <input class="input100" type="text" [formControlName]="'usernameRegister'"
                               [ngClass]="form.get('usernameRegister')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Username</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="First Name is required"
                         [ngClass]="formSubmit('first_name') ? '' : 'alert-validate'">
                        <input class="input100" type="text" [formControlName]="'first_name'"
                               [ngClass]="form.get('first_name')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">First name</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Last Name is required"
                         [ngClass]="formSubmit('last_name') ? '' : 'alert-validate'">
                        <input class="input100" type="text" [formControlName]="'last_name'"
                               [ngClass]="form.get('last_name')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Last name</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required"
                         [ngClass]="formSubmit('passwordRegister') ? '' : 'alert-validate'">
                        <input class="input100" type="password" [formControlName]="'passwordRegister'"
                               [ngClass]="form.get('passwordRegister')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Email is required"
                         [ngClass]="formSubmit('password2') ? '' : 'alert-validate'">
                        <input class="input100" type="password" [formControlName]="'password2'"
                               [ngClass]="form.get('password2')?.value ? 'has-val' :''">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Confirm Password</span>
                    </div>

                </ng-template>

                <div class="container-login100-form-btn" *ngIf="!register">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="container-login100-form-btn">
                    <button type="button" class="login100-form-btn" (click)="register ? newUser() : register = true">
                        Sign Up
                    </button>
                </div>

                <div class="text-center p-t-46">
						<span class="txt2">
							or sign up/in using
						</span>
                </div>

                <div class="login100-form-social flex-c-m">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-google" viewBox="0 0 16 16" (click)="loginWithGoogle()">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-microsoft" viewBox="0 0 16 16" (click)="loginWithOutlook()">
                        <path d="M7.462 0H0v7.19h7.462V0zM16 0H8.538v7.19H16V0zM7.462 8.211H0V16h7.462V8.211zm8.538 0H8.538V16H16V8.211z"/>
                    </svg>
                </div>
            </form>

            <div class="login100-more" style="background-image: url('assets/img/loginImage.jpg');">
            </div>
        </div>
    </div>
</div>
