@import "src/app/modules/auth/login/login.component";

:host(app-profile) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 84%;
  height: 100%;
  justify-content: center;
}

.avatar-xl img {
  width: 110px;
}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.text-muted {
  color: #aeb0b4 !important;
}

.text-muted {
  font-weight: 300;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container {
  margin-right: initial;
  margin-left: initial;
}

.form {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.save {
  width: 16%;
  align-self: center;
}

.content {
  padding: 0;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 64rem;
}

.custom {
  width: 48%;
}

.customRow {
  gap: 1.7rem;
}

.wrap-input100 {
  border: 1px solid #9b9595;
}

.customTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.customButton {
  width: 12%;
  color: #6675df;
  background: transparent;
  border-bottom: 1px solid #6675df;
  font-size: 1rem;
  height: 37px;
  letter-spacing: 0;
  border-radius: 0;
  margin: 2rem auto auto;
}

.login100-form-btn:hover {
  background: transparent;
  color: #6675df;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .custom {
    width: 100%;
  }
}