<div class="card">
    <div class="card-header">
        <h1 class="title">Edit Your Profile</h1>
        <p class="card-description">Update your personal information and preferences</p>
    </div>
    <div class="card-content">
        <form (ngSubmit)="updateUser()">
            <div class="form-group text-center">
                <img [src]="user.profile_image ? user.profile_image : 'assets/img/user-2-1.svg'" alt="Profile photo"
                     class="profile-photo">
                <div class="mt-2">
                    <label for="photo-upload" class="btn btn-outline-primary">
                        <fa-icon [icon]="iconCamera"></fa-icon>
                        Change Photo
                    </label>
                    <input id="photo-upload" type="file" accept="image/*" class="d-none" (change)="onFileSelected($event)">
                </div>
            </div>
            <div class="form-group form-name">
                <div class="form-name_value">
                    <label for="first_name">First Name</label>
                    <input id="first_name" type="text" class="form-control" [(ngModel)]="user.first_name"
                           name="first_name" required>
                </div>
                <div class="form-name_value">
                    <label for="last_name">Last Name</label>
                    <input id="last_name" type="text" class="form-control" [(ngModel)]="user.last_name" name="last_name"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" class="form-control" [(ngModel)]="user.email" name="email" required>
            </div>
            <div class="form-group">
                <label for="weight">Weight</label>
                <input id="weight" type="number" class="form-control" [(ngModel)]="user.weight" name="weight" required>
            </div>
            <div class="form-group">
                <label for="height">Height</label>
                <input id="height" type="number" class="form-control" [(ngModel)]="user.height" name="height" required>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input id="age" type="number" class="form-control" [(ngModel)]="user.age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>
