@import "src/app/modules/auth/login/login.component";
@import "src/app/modules/home/home.component";

.customButton {
  width: 16%;
  color: #6675df;
  background: transparent;
  border-bottom: 1px solid #6675df;
  font-size: 1rem;
  height: 37px;
  letter-spacing: 0;
  border-radius: 0;
}

.login100-form-btn:hover {
  background: transparent;
  color: #6675df;
  font-size: 1.1rem;
}

.customTitle {
  font-weight: bold;
  font-size: 1.25rem;
}

.cardContent {
  max-height: 28rem;
}

.wrap-input100 {
  border: 1px solid #9b9595;
}

.smallInput {
  width: 45%;
}

.data-card {
  flex-direction: row;
  width: 21em;
  min-height: 7em;
  padding: 1.75em 1.5em;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  fa-icon {
    padding: 0 !important;

  }

  h4 {
    margin: 0;
    border-top: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }

  p {
    color: #627084;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: color .45s ease;
    opacity: 1;
  }

  .values {
    padding: 1rem;
    border-left: 3px solid #6675df;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.data-card:hover {
  p {
    color: white;
  }

  .values {
    border-left-color: white;
  }
}

