<div class="container">
    <div class="card records-container">
        <h1 class="title">Records</h1>
        <div class="date-picker">
            <label for="date">Date:</label>
            <input type="date" id="date" class="form-control" [value]="date" (change)="changeDate($event)">
        </div>
        <div class="records-grid">
            <div *ngFor="let item of data" class="record-card" (click)="navigate(item)">
                <fa-icon [icon]="getIcon(item?.phasesDay?.name)" size="3x" class="customIcon"></fa-icon>
                <div class="record-details">
                    <h3>{{ item.phasesDay?.name ?? 'No Phase day' }}</h3>
                    <p>{{ item.created_date | date: 'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </div>
        <button class="btn btn-primary add-record-btn" (click)="newRecord()">
            {{ showAddRecord ? 'Cancel' : 'Add Record' }}
        </button>
    </div>
</div>

