@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
  border-radius: 15px;
}

::-webkit-scrollbar {
  width: 0.5rem;

  &:hover {
    background-color: #efefef;
    width: 0.75rem;
  }
}