<div class="container">
    <h1 class="title">Calculator</h1>
    <form [formGroup]="form">
        <div formArrayName="foodEntries">
            <div *ngFor="let entry of foodEntries.controls; let i = index" [formGroupName]="i" class="food-entry">
                <div class="form-group">
                    <label [attr.for]="'foodName' + i">Food</label>
                    <input [id]="'foodName' + i" class="form-control" formControlName="name"
                           [attr.list]="'foodList' + i" (change)="$event.stopPropagation();setOption(entry)"
                           (keyup)="$event.stopPropagation();searchFood(entry)" required>
                    <datalist [id]="'foodList' + i">
                        <option *ngFor="let food of foods" [value]="food.name"></option>
                    </datalist>
                </div>

                <div class="form-group">
                    <label [attr.for]="'usualMeasure' + i">Usual Measure (g/ml)</label>
                    <input [id]="'usualMeasure' + i" class="form-control" type="number" formControlName="usualMeasure"/>
                </div>

                <div class="form-group">
                    <label [attr.for]="'index' + i">Glycemic Index</label>
                    <input [id]="'index' + i" type="number" class="form-control" formControlName="index" readonly
                           [ngClass]="getBackground(entry.get('index').value)"/>
                </div>

                <button type="button" (click)="removeFoodEntry(i)" class="remove-button">
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
            </div>
        </div>

        <button type="button" (click)="addFoodEntry()" class="add-button" [disabled]="foodEntries.invalid">Add Food
        </button>
        <div class="results-container">
            <div class="result">
                <p class="result-label">Recommended Rations</p>
                <p class="result-value">{{ getRecommendedRations() | number:'1.2-2' }}</p>
            </div>
        </div>
    </form>
</div>
