:host(app-main) {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

app-header {
  width: 16vw;
  height: 100%;
}

.mainContent {
  display: flex;
  width: 84vw;
  height: 100%;
  background-image: url("../../../../assets/img/loginImage.jpg");
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .mainContent {
    width: 100%;
  }

  app-header {
    width: 0;
  }
}